# Virtual environments
.venv/
venv/
env/
testing/

# Agent files
.qodo/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*

# Editors / IDEs
.vscode/
.idea/

# Logs
*.log
